
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f4f8;
  color: #222;
  line-height: 1.6;
}
header {
  background-color: #00695c;
  color: white;
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0;
}


main.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* Cartõe*
